<section class="step">
    <div class="panel step-panel">
        <form name="myForm" class="panel-body text-center" novalidate>

            <section ng-show="vm.img1">
                <img ng-src="{{'assets/images/item' + vm.randomNum + '.jpg'}}" class="img-memory">
                <div class="form-group">
                    <label>What is this called?</label>
                    <input type="text" class="form-control" ng-model="vm.answer.first">
                </div>
            </section>

            <section ng-show="vm.img2">
                <img ng-src="{{'assets/images/item' + (vm.randomNum + 1) % 10 + '.jpg'}}" class="img-memory">
                <div class="form-group">
                    <label>What is this called?</label>
                    <input type="text" class="form-control" ng-model="vm.answer.second">
                </div>
            </section>

            <section ng-show="vm.img3">
                <img ng-src="{{'assets/images/item' + (vm.randomNum + 2) % 10 + '.jpg'}}" class="img-memory">
                <div class="form-group">
                    <label>What is this called?</label>
                    <input type="text" class="form-control" ng-model="vm.answer.third">
                </div>
            </section>

            <section ng-show="vm.finalCalc">
                <div class="form-group">
                    <label>{{vm.decreasedNumber}} - 7 = </label>
                    <input type="number" class="form-control" ng-model="vm.decrease">
                </div>
            </section>

            <a class="btn btn-primary btn-block" ng-click="vm.next()" ng-disabled="myForm.$invalid">NEXT</a>
        </form>
    </div>

    

</section>
