html {
    background-color: #f7f7f7;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}
body {
    background-color: transparent;
    color: #656565;
    font-size: 13px;
    overflow-x: hidden;
}
/* NAV BAR */

.navbar-color {
    background-color: #3b5998;
    margin-bottom: 0px;
}
.navbar-color .navbar-brand {
    color: #fff;
}
.m-t-m {
    margin-top: 20px;
}
.step {
    width: 50%;
    margin: 30px auto;
}

.step-6 {
    width: 60%;
    margin: 30px auto;
}
.step-panel {
    border: 0;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.img-memory {
    width: 400px;
    height: 400px;
}
#clock {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0 auto;
    background: url(../assets/images/clockface.jpg);
    list-style: none;
}
#min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
}
#min {
    background: url(../assets/images/minhand.png);
    z-index: 2;
}
#hour {
    background: url(../assets/images/hourhand.png);
    z-index: 1;
}

.stepsDisplay{
    display: table-cell;
    padding: 0px 30px 10px 30px;
    text-align: left;
}