<section class="step">
    <div class="panel step-panel">
        <form name="myForm" class="panel-body" novalidate>

            <div class="form-group">
                <label>What is the date now?</label>
                <input type="date" class="form-control" ng-model="vm.date" required>
            </div>

            <div class="form-group">
                <label>Which season is this?</label>
                <select class="form-control" ng-model="vm.season" required>
                    <option value="winter">Winter</option>
                    <option value="autumn">Autumn</option>
                    <option value="summer">Summer</option>
                    <option value="spring">Spring</option>
                </select>
            </div>

            <div class="form-group">
                <label>100 - 7 = </label>
                <input type="number" class="form-control" ng-model="vm.decrease" required>
            </div>

            <a class="btn btn-primary btn-block" ng-click="vm.next()" ng-disabled="myForm.$invalid">NEXT</a>
        </form>
    </div>

    

</section>